*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

.wrapper {
    min-width: 1200px;
    margin: 0 auto;
    position: relative;

}
/* -----------1------------*/
.section-main {
    padding: 0;
    height: 100vh;
    background-image: url("../images/section-1(header).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-transition: all 0.2s ease-in-out;
}

.header {
    background: rgba(94, 93, 88, 0.60);
    display: flex;
    justify-content: space-around;
}

.content__box {
    width: 1160px;
    display: flex;
    justify-content: space-between;
}

.box__logo {
    display: flex;
}

.logo__link {
    display: flex;
}

.icon__ham {
    margin-top: 26px;
    margin-bottom: 27px;
}

.logo__text {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 6px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    padding-top: 37px;
    padding-bottom: 37px;
}

.logo__text-green {
    color: #18CFAB;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

.nav__menu {
    display: flex;
    padding-top: 49px;
    padding-bottom: 49px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    padding-right: 21px;
}

.menu-link:hover {
    cursor: pointer;
    color: #18CFAB;
}

/*-------------banner--*/
.banner__content-container {
    width: 1160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
}

.banner__slogan-wrapper {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    line-height: 1px;
    text-transform: uppercase;
    margin: 32px 0px;
}

.banner__slogan-green {
    padding-left: 8px;
    color: #18CFAB;
    font-size: 35px;
    font-weight: 700;
    line-height: 1px;
    text-transform: uppercase;
}

.banner__title {
    color: #FFF;
    text-align: center;
    justify-content: center;
    font-size: 78px;
    font-weight: 700;
    line-height: 1px;
    text-transform: uppercase;
    margin: 32px 0px;
    display: inline-flex;
}

.banner__slogan-text {
    color: #D4D4D4;
    font-size: 34px;
    font-weight: 400;
    line-height: 1px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin: 32px 0px;
}

.buttons_container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    width: 169px;
    height: 63px;
    border-radius: 4px;
    color: #FFF;
}

.btn__explore {
    background-color: #18CFAB;
    border-top: #FFFFFF solid 5px;
    margin-right: 13px;
}

.btn__purchase {
    background-color: #00CBF6;
    border-top: #FFFFFF solid 5px;
    margin-left: 13px;
}

.btn__name1 {
    display: block;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
}

.btn__name2 {
    display: block;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
}

/* -----------2 секція------------*/

.four__options_wrapper {
    min-width: 1200px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 377px;
    margin-bottom: 83px;
}

.option__theme,
.option__support {
    background-color: #1C2A33;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.option__theme-link,
.option__customizable-link,
.option__support-link,
.option__device-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #18CFAB;
}

.option__customizable-link,
.option__device-link {
    color: #FFF;
}

.option__customizable,
.option__device {
    background-color: #18CFAB;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.option__theme-text,
.option__customizable-text,
.option__support-text,
.option__device-text {
    margin-top: 48px;
}

/* -----------3 секція------------*/
.ourServices__content-box {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 91px;
}

.subtitle {
    display: flex;
    justify-content: center;
    color: #4E4E4E;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.ourServices__subtitle {
    margin-bottom: 24px;
}

.dashes {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 67px;
}

.ourServices__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.ourServices__title {
    display: flex;
    justify-content: center;
    padding: 18px 40px;
    background-color: #d5f2ed;
    color: #777;;
    font-weight: 300;
    line-height: 24px;
}

.ourServices__title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.ourServices__title:hover {
    border: 1px solid #18CFAB;
    padding: 17px 39px;
}

.ourServices__tabs-content {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.tabs__content-item {
    display: none;
    height: 210px;
}

.tabs__content-item.active {
    display: flex;
}

.img__tabs-content {
    width: 284px;
    height: 210px;
}

.txt__tabs-content {
    color: #777;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 15px;
}

/*---------4 секція-----------*/

.board__offer-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/bacgr2.jpg");
    height: 476px;
}

.board__offer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    color: #18CFAB;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.board__offer-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 12px;
    margin-bottom: 67px;
}

.btn__board {
    background-color: #18CFAB;
    border-top: #FFFFFF solid 5px;
    margin-right: 13px;
    margin-top: 62px;
}

/*--------------5 секція------------------*/
.amazing__work-wrapper {
    padding: 0;
    height: 100%;
    background-color: #E9EDEF;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.amazing__work-content-box {
    width: 1160px;
    margin: 0 auto;
    margin-top: 0px;

}

.subtitle {
    display: flex;
    justify-content: center;
    color: #4E4E4E;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 24px;
}

.amazing__work-subtitle {
    padding-top: 95px;
    margin-bottom: 20px;
}

.amazingWork__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.amazingWork__title {
    display: flex;
    justify-content: center;
    padding: 14px 29px;
    border: 1px solid #DADADA;
    background: rgba(0, 0, 0, 0.00);
    color: #717171;
    font-weight: 400;
    line-height: 31px;
}

.amazingWork__title:hover {
    color: #18CFAB;
}

.amazingWork__title:hover {
    border: 1px solid #18CFAB;
}

.amazingWork__title.active {
    border: 2px solid #18CFAB;
}
/*------------------------карточки----------------------*/
.work__card-wrapper {
    display: grid;
    grid-template-columns: 285px repeat(3, 1fr);
    grid-template-rows: 211px repeat(2, 1fr);
    gap: 5px;
    margin-top: 71px;
    margin-bottom: 70px;
}

.flipping__card {
    position: relative;
    width: 288px;
    height: 211px;
    perspective: 500px;
    float: left;
    display: none;
}

.flipping__card:hover .flipping__card-front {
    transform: rotateY(180deg);
}

.flipping__card:hover .flipping__card-back {
    transform: rotateY(0deg);
}

.flipping__card .flipping__card-back {
    transform: rotateY(-180deg);
}

.flipping__card .flipping__card-front, .flipping__card .flipping__card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    background-color: #E9EDEF;
    backface-visibility: hidden;
}

.flipping__card img {
    width: 100%;
    height: 100%;
}

.flipping__card-back-subtitle {
    color: #18CFAB;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.flipping__card-back-text {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
}

.flipping__card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flipping__card.active {
    display: flex;
}

.icon__desc {
    padding-bottom: 24px;
}

.btn__more {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 169px;
    height: 63px;
    border-radius: 4px;
    color: #FFF;
    background-color: #18CFAB;
    border-style: none;
    cursor: pointer;
    margin-bottom: 80px;
}

.btn__img {
    display: flex;
    align-items: center;
}

.amazingWork__btn_name {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}
/*--------------6 секція------------------*/
.breaking__news-content-box {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.breaking__news-subtitle {
    margin-top: 82px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card__news-items {
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(2, 294px);
    gap: 13px;
}

.card__news-items-link {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
}

.card__news-content-item {
    border: 1px solid #F2F4F5;
    background: #F8FCFE;
    position: relative;
}


.card__news-items-date {
    position: absolute;
    padding: 6px 16px;
    background: #203E38;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    top: 0px;
    right: 0px;
}

.card__news-items-date:hover {
    background: #18CFAB;
}

.card__news-items-blog {
    display: flex;
    flex-direction: column;
}

.card__news-items-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__news-items-subtitle:hover {
    color: #18CFAB;
}

.box-content {
    display: flex;
    justify-content: space-around;
}

.card__news-txt,
.card__news-items-comment {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}
/*------------------------------section 7*/

.whatPeopleSay {
    background-image: url("../images/bacground6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.whatPeopleSay-content-box {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whatPeopleSay__title {
    display: flex;
    flex-shrink: 0;
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 98px;
    margin-bottom: 25px;
}

.whatPeopleSay__txt {
    color: #BBB;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 37px;
    margin-bottom: 37px;
}
/*-----------------------------------carousel team------------------------*/
.carousel__wrapper {
    max-width: 1160px;
    height: 100%;
    position: relative;
}

.carousel__big_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team__carousel-card-big {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 69px;
}

.team__avatar-img-name {
    text-align: center;
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.team__avatar-img-desc {
    padding: 5px;
    text-align: center;
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 30px;
}

.team__avatar-img-big {
    border-radius: 50%;
    width: 143px;
    height: 142px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(52, 102, 93, 0.2);
}

.carousel__team-wrapper {
    width: 483px;
    position: relative;
}

.carousel__team-wrapper svg {
    position: absolute;
}

.prev:hover,
.next:hover {
    background-color: #18CFAB;
}

.prev {
    bottom: 20px;
    left: -30px;
    user-select: none;
    cursor: pointer;
}

.next {
    bottom: 20px;
    right: -30px;
    user-select: none;
    cursor: pointer;
}

.carousel__team {
    display: flex;
    flex-direction: row;
    position: relative;
}

.team__carousel-card {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 38px;

}

.team__carousel-card:nth-child(1) {
    padding-left: 0px;
}

.team__carousel-card.active {
    transform: translate(0px,-30%);
}

.team__carousel-card:hover img {
    transform: scale(1.1);
}

.team__avatar-img img {
    transition: transform 0.25s;
}

.team__avatar-img {
    border-radius: 50%;
    border: 10px solid rgba(52, 102, 93, 0.2);
}
/* -----------8------------*/
.gallery__images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery__container {
    max-width: 1160px;
    margin: 0 auto;
    height: 100%;
    columns: 3;
    margin-bottom: 52px;
}

.gallery__container .item {
    margin-bottom: 1px;
}

.gallery__container .item img {
    max-width: 100%;
}

.item {
    float: left;
    padding: 3px;
}

.gallery__btn {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/*-----------footer---------*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
    margin: 0 auto;
    background-color: #22353F;
    height: 121px;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.footer__copyright-txt {
    display: block;
    color: #18CFAB;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
